* {
    margin: 0;
    padding: 0;
}

:root {
        --fundo:#191970;
        --cartao-frente:#1E90FF;
        --cartao-verso:#4169E1;
        --destaque:#8B0000;
        --preto:#000000;
        --branco:#ffffff;
}

body {
    background-color: var(--fundo);
}

footer {
    font-size: 20px;
    height: 120px;
    background-color: var(--preto);
    position: fixed;
    bottom: 0;
    width: 100%;
    color: var(--branco);
    align-items: center;
    text-align: center;
}

#txt {
    margin-top: 20px;
}

footer p {
    
    font-weight: bold;
    margin-left: 5px;
    display: inline-block;
}

#container {
    margin: 5px;
    padding: 4rem;
    gap: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--branco);

}

.conteudo-cartao {
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
    height: 100%;
    background-color: var(--cartao-frente);
}

.cartao {

    margin: 1rem;
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
}

.conteudo-cartao h3 {
    backface-visibility: hidden;
    margin: 0.6rem;
    padding: 0.6rem;
    border: 2px solid var(--destaque);
    border-radius: 5px;
    position: absolute;
    text-align: center;
    align-items: center;
    color: var(--destaque);
}

.conteudo-cartao p {
    margin-top: 4rem;
    padding: 2rem;
    font-size: 1.4vw;
}

.pergunta-cartao, .resposta-cartao {
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
}

.cartao:hover .conteudo-cartao{
    transform: rotateY(180deg);
}

.respota-cartao {
    transform: rotateY(180deg);
    font-weight: 700;
    color: var(--destaque);
    border: 2px solid var(--destaque);
}