:root {
        --fundo:#191970;
        --cartao-frente:#1E90FF;
        --cartao-verso:#4169E1;
        --destaque:#8B0000;
        --preto:#000000;
        --branco:#ffffff;
}

body {
    background-color: var(--fundo);
}

footer {
    position: fixed;
    bottom: 0;
    color: var(--branco);
    align-items: center;
    text-align: center;
}

footer p {
    
    font-weight: bold;
    margin-left: 5px;
    display: inline-block;
}