* {
    margin: 0;
    padding: 0;
}

:root {
        --fundo:#191970;
        --cartao-frente:#1E90FF;
        --cartao-verso:#4169E1;
        --destaque:#8B0000;
        --preto:#000000;
        --branco:#ffffff;
}

body {
    background-color: var(--fundo);
}

footer {
    font-size: 20px;
    height: 120px;
    background-color: var(--preto);
    position: fixed;
    bottom: 0;
    width: 100%;
    color: var(--branco);
    align-items: center;
    text-align: center;
}

#txt {
    margin-top: 20px;
}

footer p {
    
    font-weight: bold;
    margin-left: 5px;
    display: inline-block;
}

#container {
    margin: 5px;
    padding: 4rem;
    gap: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--branco);

}